#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [1]:
import pandas as pd

In [2]:
data_path = '../../data/supermarket_sales.csv'
df = pd.read_csv(data_path)

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [3]:
df.groupby('Branch')['gross income'].sum()

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

–°—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –Ω–∞–π–±—ñ–ª—å—à–∏–π —É —Ñ—ñ–ª—ñ–∞–ª–∞ –° = 5265.1765

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [11]:
df.groupby('Branch')['City'].unique()

Branch
A       [Yangon]
B     [Mandalay]
C    [Naypyitaw]
Name: City, dtype: object

–§—ñ–ª—ñ–∞–ª –° –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º –∑–Ω–∞—Ö–æ–¥–∏—Ç—å—Å—è –≤ –º—ñ—Å—Ç—ñ Naypyitaw

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [16]:
invoices_by_category = df.pivot_table(index = 'Branch', columns = 'Product line', values = 'Invoice ID', 
                        aggfunc = 'size')

In [18]:
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [44]:
invoices_by_category.groupby('Branch')['Electronic accessories'].max()

Branch
A    60
B    55
C    55
Name: Electronic accessories, dtype: int64

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

4. –•–æ—á—É –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏ –ø–æ –º—ñ—Å—Ç–∞—Ö —Ö—Ç–æ –±—ñ–ª—å—à–µ –∫—É–ø—É—î - —á–æ–ª–æ–≤—ñ–∫–∏ —á–∏ –∂—ñ–Ω–∫–∏. –ü–æ—Ç—ñ–º –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏ —è–∫—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ –Ω–∞–π–±—ñ–ª—å—à –ø–æ–ø—É–ª—è—Ä–Ω—ñ —Å–µ—Ä–µ–¥ —á–æ–ª–æ–≤—ñ–∫—ñ–≤ —Ç–∞ –∂—ñ–Ω–æ–∫, —ñ –≤—ñ–¥—à—Ç–æ–≤—Ö—É—é—á–∏—Å—å –≤—ñ–¥ —Ü—ñ—î—ó —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—ó –Ω–∞–¥–∞—Ç–∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –ø–æ —Ä–æ–∑—à–∏—Ä–µ–Ω–Ω—é –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç—É —Ç–∞ –∑–±—ñ–ª—å—à–µ–Ω–Ω—è —á–∞—Å—Ç–∫–∏ –ø–µ–≤–Ω–∏—Ö –∫–∞—Ç–µ–≥–æ—Ä—ñ–π —Ç–æ–≤–∞—Ä—ñ–≤.

In [25]:
df.pivot_table(index = 'Gender', columns = 'City', values = 'Invoice ID', aggfunc = 'size') 
# –ø–æ–¥–∏–≤–∏–º–æ—Å—å –ø–æ –∫–æ–∂–Ω–æ–º—É –º—ñ—Å—Ç—É –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ–∫—É–ø–æ–∫ —á–æ–ª–æ–≤—ñ–∫–∞–º–∏ —Ç–∞ –∂—ñ–Ω–∫–∞–º–∏

City    Mandalay  Naypyitaw  Yangon
Gender
Female       162        178     161
Male         170        150     179

In [28]:
gender_product = df.pivot_table(index = 'Gender', columns = 'Product line', values = 'Invoice ID', 
                        aggfunc = 'size') 
# –ø–æ–¥–∏–≤–∏–º–æ—Å—å –Ω–∞ —Ä–æ–∑–ø–æ–¥—ñ–ª –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –∑–∞–∫—É–ø—ñ–≤ —á–æ–ª–æ–≤—ñ–∫–∞–º–∏ —Ç–∞ –∂—ñ–Ω–∫–∞–º–∏ –º—ñ–∂ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤

In [29]:
gender_product

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Gender,,,,,,
Female,84,96,90,64,79,88
Male,86,82,84,88,81,78

In [31]:
gender_product.loc['Female'].idxmax() #–∑–Ω–∞—Ö–æ–¥–∂—É —è–∫—É –∫–∞—Ç–µ–≥–æ—Ä—ñ—é –æ–±–∏—Ä–∞—î –±—ñ–ª—å—à—ñ—Å—Ç—å –∂—ñ–Ω–æ–∫

'Fashion accessories'

In [37]:
gender_product.drop(columns = 'Fashion accessories').loc['Female'].idxmax() #–∑–Ω–∞—Ö–æ–¥–∂—É 2–≥—É –∑–∞ –ø–æ–ø—É–ª—è—Ä–Ω—ñ—Å—Ç—é –∫–∞—Ç–µ–≥–æ—Ä—ñ—é

'Food and beverages'

    –¢–∞–∫ —Å–∞–º–æ –∑–Ω–∞—Ö–æ–¥–∂—É –Ω–∞–π–±—ñ–ª—å—à –ø–æ–ø—É—Ä–Ω—ñ –≥—Ä—É–ø–∏ —Ç–æ–≤–∞—Ä—ñ–≤ —Å–µ—Ä–µ–¥ —á–æ–ª–æ–≤—ñ–∫—ñ–≤:

In [38]:
gender_product.loc['Male'].idxmax()

'Health and beauty'

In [40]:
gender_product.drop(columns = 'Health and beauty').loc['Male'].idxmax()

'Electronic accessories'

    –í –º—ñ—Å—Ç–∞—Ö Mandalay —Ç–∞ Yangon –±—ñ–ª—å—à—ñ—Å—Ç—å –ø–æ–∫—É–ø–æ–∫ –∑–¥—ñ–π—Å–Ω—é—é—Ç—å —á–æ–ª–æ–≤—ñ–∫–∏. –ü—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞–≤—à–∏ –≤–ø–æ–¥–æ–±–∞–Ω–Ω—è —á–æ–ª–æ–≤—ñ–∫—ñ–≤, –±–∞—á–∏–º–æ, —â–æ –Ω–∞–π–±—ñ–ª—å—à–æ—é –ø–æ–ø—É–ª—è—Ä–Ω—ñ—Å—Ç—é –∫–æ—Ä–∏—Å—Ç—É—é—Ç—å—Å—è –≥—Ä—É–ø–∏ —Ç–æ–≤–∞—Ä—ñ–≤ 'Health and beauty' —Ç–∞ 'Electronic accessories'. –û—Ç–∂–µ –º–æ–∂–µ–º–æ –Ω–∞–¥–∞—Ç–∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—é –¥–ª—è —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—ñ–≤ —Ü–∏—Ö –º—ñ—Å—Ç –∑—Ä–æ–±–∏—Ç–∏ –∞–∫—Ü–µ–Ω—Ç –Ω–∞ —Ä–æ–∑—à–∏—Ä–µ–Ω–Ω—è –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç—É —Ç–æ–≤–∞—Ä—ñ–≤ 'Health and beauty' —Ç–∞ 'Electronic accessories. –¢–∞–∫–æ–∂ –≤–≤–µ—Å—Ç–∏ –ª—ñ–Ω—ñ–π–∫—É –±—ñ–ª—å—à –¥–æ—Ä–æ–≥–∏—Ö —Ç–æ–≤–∞—Ä—ñ–≤ —ñ–∑ —Ü–∏—Ö –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.
    –í –º—ñ—Å—Ç—ñ Naypyitaw –æ—Å–Ω–æ–≤–Ω—ñ –∫–ª—ñ—î–Ω—Ç–∏ - –∂—ñ–Ω–∫–∏. –ó–≥—ñ–¥–Ω–æ –æ—Ç—Ä–∏–º–∞–Ω–æ—ó —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—ó –Ω–∞–π–±—ñ–ª—å—à–∏–º –ø–æ–ø–∏—Ç–æ–º —Å–µ—Ä–µ–¥ —Ü—å–æ–≥–æ —Å–µ–≥–º–µ–Ω—Ç—É –∫–ª—ñ—î–Ω—Ç—ñ–≤ –∫–æ—Ä–∏—Å—Ç—É—é—Ç—å—Å—è —Ç–æ–≤–∞—Ä–∏ –≥—Ä—É–ø–∏ 'Fashion accessories' —Ç–∞ 'Food and beverages'. –¢–æ–±—Ç–æ –ø–æ—Ç—Ä—ñ–±–Ω–æ —Ä–æ–∑—à–∏—Ä–∏—Ç–∏ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç —Ç–∞ –±—ñ–ª—å—à –¥–æ—Ä–æ–≥—ñ —Ç–æ–≤–∞—Ä–∏ —Å–∞–º–µ —Ü–∏—Ö –≥—Ä—É–ø —Ç–æ–≤–∞—Ä—ñ–≤.

5. –ü—Ä–æ–∞–Ω–∞–ª—ñ–∑—É—î–º–æ –ø–æ –º—ñ—Å—Ç—É Yangon, —è–∫—ñ –≥—Ä—É–ø–∏ —Ç–æ–≤–∞—Ä—ñ–≤ –ø—Ä–∏–Ω–æ—Å—è—Ç—å –º–∞–∫—Å–∏–º—É–º –ø—Ä–∏–±—É—Ç–∫—É —ñ —è–∫ —Ü–µ–π –ø—Ä–∏–±—É—Ç–æ–∫ —Ä–æ–∑–ø–æ–¥—ñ–ª—è—î—Ç—å—Å—è —É—Å–µ—Ä–µ–¥–∏–Ω—ñ –∫–æ–∂–Ω–æ—ó –≥—Ä—É–ø–∏

In [57]:
df[df.City == 'Yangon'].groupby('Product line')['Total'].describe()

,count,mean,std,min,25%,50%,75%,max
Product line,,,,,,,,
Electronic accessories,60.0,305.285225,246.411455,30.4080,101.490375,207.0705,442.622250,931.0350
Fashion accessories,51.0,320.245265,257.255822,12.6945,94.179750,277.6725,485.173500,1039.2900
Food and beverages,58.0,295.915526,205.761806,33.4320,165.193875,249.0705,356.346375,932.3370
Health and beauty,47.0,268.037298,186.079373,19.2465,135.549750,217.1820,370.980750,752.6400
Home and lifestyle,65.0,344.879931,246.511642,19.1940,147.672000,263.1300,493.794000,951.8250
Sports and travel,59.0,328.350839,235.076176,16.1070,148.527750,271.2780,465.990000,926.9505

    –í–∏—Ö–æ–¥—è—á–∏ –∑ –æ—Ç—Ä–∏–º–∞–Ω–∏—Ö –¥–∞–Ω–∏—Ö, –±–∞—á–∏–º–æ, —â–æ –Ω–∞–π–±—ñ–ª—å—à–∏–π –¥–æ—Ö—ñ–¥ –ø—Ä–∏–Ω–æ—Å–∏—Ç—å –≥—Ä—É–ø–∞ Fashion accessories —Ç–∞ Home and lifestyle, –æ—Ç–∂–µ —Å–∞–º–µ —Ü—ñ –Ω–∞–ø—Ä—è–º–∫–∏ –º–æ–∂–Ω–∞ –∞–∫—Ç–∏–≤–Ω–æ —Ä–æ–∑–≤–∏–≤–∞—Ç–∏. –ù–∞–π–º–µ–Ω—à–∏–π –¥–æ—Ö—ñ–¥ –ø—Ä–∏–Ω–æ—Å–∏—Ç—å –≥—Ä—É–ø–∞ —Ç–æ–≤–∞—Ä—ñ–≤ Health and beauty - –º–æ–∂–ª–∏–≤–æ –ø–æ—Ç—Ä—ñ–±–Ω–æ –ø—Ä–æ–≤–µ—Å—Ç–∏ –¥–æ–¥–∞—Ç–∫–æ–≤—ñ –º–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤—ñ –∑–∞—Ö–æ–¥–∏ –¥–ª—è –ø—Ä–∏–≤–µ—Ä–Ω–µ–Ω–Ω—è —É–≤–∞–≥–∏ –¥–æ —Ü–∏—Ö —Ç–æ–≤–∞—Ä—ñ–≤.
    –¢–∞–∫–æ–∂ —Ü—ñ–∫–∞–≤–æ, —â–æ —Ä—ñ–∑–Ω–∏—Ü—è –º—ñ–∂ –º–∞—Ö —Ç–∞ 75 –ø–µ—Ä—Å–∏–Ω—Ç–∞–ª–µ–º - –±—ñ–ª—å—à–µ –ø–æ–ª–æ–≤–∏–Ω–∏ –≤—ñ–¥ –∑–∞–≥–∞–ª—å–Ω–æ—ó –≤–∏—Ä—É—á–∫–∏. –ú–æ–∂–Ω–∞ –ø—Ä–∏–ø—É—Å—Ç–∏—Ç–∏, —â–æ –Ω–∞—Å–µ–ª–µ–Ω–Ω—è –º—ñ—Å—Ç–∞ Yangon - –∑–∞–º–æ–∂–Ω–µ —ñ –æ–±–∏—Ä–∞—î –±—ñ–ª—å—à –¥–æ—Ä–æ–≥—ñ —Ç–æ–≤–∞—Ä–∏. –°–ª—ñ–¥ —Ä–æ–∑—à–∏—Ä–∏—Ç–∏ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç —Å–∞–º–µ –∑ –¥–æ–≤–∞—Ä–∞–º–∏ –∑ –≤–∏—Å–æ–∫–æ—é —Ü—ñ–Ω–æ—é.

6. –•–æ—á—É –¥–æ—Å–ª—ñ–¥–∏—Ç–∏ –ø–æ–≤–µ–¥—ñ–Ω–∫—É —Ä—ñ–∑–Ω–∏—Ö Customer type: —á–∏ —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ Member –±—É–¥–µ –±—ñ–ª—å—à–∏–º, –Ω—ñ–∂ —á–µ–∫ Normal, –Ω–∞–ø—Ä–∏–∫–ª–∞–¥ –ø–æ –º—ñ—Å—Ç—É Mandalay.

In [58]:
df[df.City == 'Mandalay'].groupby('Customer type')['Total'].agg(['mean', 'max', 'min'])

                     mean       max      min
Customer type
Member         325.482945   944.622  20.1075
Normal         314.329257  1022.490  18.6375

    –ë–∞—á–∏–º–æ, —â–æ —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ Member —Ç—Ä–æ—Ö–∏ –±—ñ–ª—å—à–∏–π (~3.43 %), –Ω—ñ–∂ —á–µ–∫ Normal, –∞ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–∏–π - –Ω–∞–≤—ñ—Ç—å –º–µ–Ω—à–∏–π. –û—Ç–∂–µ –ø–æ—Ç—Ä—ñ–±–Ω–æ –ø—Ä–æ–≤–æ–¥–∏—Ç–∏ –±—ñ–ª—å—à –∞–∫—Ç–∏–≤–Ω—ñ –º–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤—ñ –∑–∞—Ö–æ–¥–∏ —Å–µ—Ä–µ–¥ Member.